<!DOCTYPE html>
<html>
<head>
    <title>Internship Record Automation System</title>
</head>
<body>

<h2>Search Name</h2>

<form method="POST">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Enter Name">

    <select name="column">
        <option value="">-- Select Column --</option>
        {% for col in columns %}
            <option value="{{ col }}">{{ col }}</option>
        {% endfor %}
    </select>

    <button type="submit">Search</button>
</form>

<hr>

{% if data %}
<table border="1">
    <tr>
        {% for key in data.0.keys %}
            <th>{{ key }}</th>
        {% endfor %}
    </tr>

    {% for row in data %}
    <tr>
        {% for value in row.values %}
            <td>{{ value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endif %}

</body>
</html>